Repository jpjonte/images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:php:8.0, build:php:8.1, build:docker

.gitlab-ci.yml:

stages:
  - build

image: docker:20.10

services:
  - docker:20.10-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_DRIVER: overlay2
  BASE_NAMESPACE: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

before_script:
  - echo -n ${CI_BUILD_TOKEN} | docker login -u ${CI_REGISTRY_USER} --password-stdin ${CI_REGISTRY}

build:php:8.0:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    IMAGE_VERSION: "8.0"
    DOCKERFILE: php/8.0/Dockerfile
  script:
    - scripts/build.sh
  only:
    refs:
      - main
      - tags
    changes:
      - php/8.0/**/*
      - php/scripts/**/*
      - scripts/**/*

build:php:8.1:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    IMAGE_VERSION: "8.1"
    DOCKERFILE: php/8.1/Dockerfile
  script:
    - scripts/build.sh
  only:
    refs:
      - main
      - tags
    changes:
      - php/8.1/**/*
      - php/scripts/**/*
      - scripts/**/*

build:docker:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/docker
    IMAGE_VERSION: latest
    DOCKERFILE: docker/Dockerfile
  script:
    - scripts/build.sh
  only:
    refs:
      - main
      - tags
    changes:
      - docker/**/*
      - scripts/**/*

Set tags in docker build command
  scripts/build.sh
Due: build:php:8.0, build:php:8.1, build:docker

Add flutter Dockerfile
  .gitlab-ci.yml
  flutter/Dockerfile
Due: none

Add missing parameter to build script
  scripts/build.sh
Due: build:php:8.0, build:php:8.1, build:docker

Remove PHP 8.0
  .gitlab-ci.yml
  php/8.0/Dockerfile
Due: build:php:8.0

Remove docker
  .gitlab-ci.yml
  docker/Dockerfile
Due: build:docker

Switch to rules to allow manual builds
  .gitlab-ci.yml
Due: none

Allow multiple tags in builds
  .gitlab-ci.yml
  scripts/build.sh
Due: build:php:8.0, build:php:8.1, build:docker

Fix flutter image source
  flutter/Dockerfile
Due: none

Include fpm in php image
  php/8.1/Dockerfile
Due: build:php:8.1

Don't run php as php user
  php/8.1/Dockerfile
Due: build:php:8.1

Add cobertura to flutter image
  flutter/Dockerfile
Due: none

Add junitreport tool to flutter
  flutter/Dockerfile
Due: none

Add lcov to flutter
  flutter/Dockerfile
Due: none

Fix lcov install
  flutter/Dockerfile
Due: none

Update build tools
  flutter/Dockerfile
Due: none

Add PHP 8.2
  .gitlab-ci.yml
  php/8.2/Dockerfile
Due: none

Add multi-arch support
  scripts/build.sh
Due: build:php:8.0, build:php:8.1, build:docker

Switch to kaniko
  .gitlab-ci.yml
  php/scripts/packages.sh
  scripts/build.sh
  scripts/login.sh
Due: build:php:8.0, build:php:8.1, build:docker

Add kubectl
  .gitlab-ci.yml
  kubectl/Dockerfile
  kubectl/files/envplate
Due: none

Update flutter android base
  flutter/Dockerfile
Due: none

Clean up PHP images, add redis and postgresql by default
  php/scripts/cleanup.sh
  php/scripts/extensions.sh
  php/scripts/packages.sh
Due: build:php:8.0, build:php:8.1

PHP: Re-add pcov for CI test coverage
  php/scripts/extensions.sh
Due: build:php:8.0, build:php:8.1

Simplify php Dockerfiles
  php/8.1/Dockerfile
  php/8.2/Dockerfile
  php/scripts/cleanup.sh
  php/scripts/extensions.sh
  php/scripts/packages.sh
Due: build:php:8.0, build:php:8.1

Switch flutter base image
  flutter/Dockerfile
Due: none

Fix PATH in flutter image
  flutter/Dockerfile
Due: none

Add PHP 8.3, remove PHP 8.1
  .gitlab-ci.yml
  php/8.3/Dockerfile
  php/scripts/packages.sh
Due: build:php:8.0, build:php:8.1

Add PHP 8.5
  .gitlab-ci.yml
  php/8.5/Dockerfile
Due: none

Add glab CLI and additional Android SDK components to Flutter image
  flutter/Dockerfile
Due: none

Always build latest stable Flutter version
  .gitlab-ci.yml
  flutter/Dockerfile
  flutter/check_version.sh
  scripts/build.sh
Due: build:php:8.0, build:php:8.1, build:docker

Build images in GitHub Actions
  .github/workflows/build.yml
  .gitlab-ci.yml
  flutter/Dockerfile
  flutter/check_version.sh
  php/8.3/Dockerfile
  php/8.4/Dockerfile
Due: none

Add arm image for flutter
  .github/workflows/build.yml
  flutter/Dockerfile
Due: none

docs: add multi-arch PHP images plan
  docs/superpowers/plans/2026-04-19-multi-arch-php-images.md
Due: none

ci: build PHP images per-platform for multi-arch manifest
  .github/workflows/build.yml
Due: none

fix(ci): declare platform as top-level matrix key so it cross-products
  .github/workflows/build.yml
  docs/superpowers/plans/2026-04-19-multi-arch-php-images.md
Due: none

ci: merge per-platform PHP digests into multi-arch manifest
  .github/workflows/build.yml
Due: none

ci: fail merge-php on partial digest set to prevent single-arch publish
  .github/workflows/build.yml
  docs/superpowers/plans/2026-04-19-multi-arch-php-images.md
Due: none

ci: multi-arch PHP images (amd64 + arm64) (#1)
  .github/workflows/build.yml
  docs/superpowers/plans/2026-04-19-multi-arch-php-images.md
Due: none

Add git to PHP images for composer downloads
  php/scripts/packages.sh
Due: build:php:8.0, build:php:8.1

feat: add FrankenPHP 8.5 base image (ghcr.io/jpjonte/frankenphp:8.5)
  .gitlab-ci.yml
  frankenphp/8.5/Dockerfile
Due: none

feat: add FrankenPHP 8.5 base image (ghcr.io/jpjonte/frankenphp:8.5) (#2)
  .gitlab-ci.yml
  frankenphp/8.5/Dockerfile
Due: none
